body 
{
margin:0;}

.grid {
display: grid;
}


/*1a/6a  laptop free shipping for purchase over 200dkk*/

#promo-list {
    text-align: center;
    position: relative;
    margin:0px;
    background-color: burlywood;}

   
h3 {
font-size: 15px;
font-family: 'Source Sans 3', sans-serif;
color:white;}

#special-offer-text{
list-style:none;}

#special-offer-text-inside{
display:inline-block}


/*1b/6b free shipping for purchase- mobile responsive*/

@media all and (max-width:500px){

    #promo-list {
        
        
        margin:0;
        background-color: burlywood;
        width:80%
      
    }
    
.cntr-for-star-promo-text-and-present{

    
    margin-left:-40%;
    
}


        
}








/*2a/6a nav+tea club first page*/

#logo-mobile{
    display:none;  
}

#icons-mobile{
    display:none;  
}

.hamburger{
    display:none;
   
}
.main-cntr-nav-and-tea-club {
height:800px;
width:100%;
background-image: url(Images/Home/tea-club.png);
background-size: cover;
background-repeat: none;}

a {
text-decoration: none;
color:white;}


.nabvar {

width:100%;
margin:auto;
padding:20px 0;
display:flex;
align-items:center;
justify-content:space-between;

}

#navigation-2 

{

list style-none;
display:inline-block;
 margin: 0 20px;

text-transform: uppercase;
font-family: 'Source Sans 3', sans-serif


}


.icons-logo-navbar {
margin-right:0px;
width:55%;
display:flex;
align-items:center;
justify-content:space-between;



}

#icons {
margin-right:80px;}


/*tea club part*/

.main-text-tea-club {

   
    width:100%;
    margin-top: 5%;

}



.main-text-tea-club-2
{

text-align: center;
margin: 0 auto;
width:20%;




}


.header-find-your {

width:100%;
height:20%;
text-align:left;}

#Find-Your {

font-family: 'Source Sans 3', sans-serif;
font-size:50px;
color:white;
margin-left: 15%;}

.text-join-our-club {
width:85%;

margin-left:12%;
margin-top:-5%;}

#Join-our-club{

font-family: 'Abel', sans-serif;
font-size:25px;
color:white;}

.button-read-more {

    font-family: 'Source Sans 3', sans-serif;
    font-size:20px;
    color:white;
    border: 5px solid #4CAF50;
    border-radius: 12px;
    padding:5px 5px 5px 5px;
    width:120px;
    height:35px;
    margin-left:30%;
    margin-top:10%;}



/*2b/6b nav+tea club page- mobile responsive*/
   
@media all and (max-width:500px){


#logo-mobile{display:flex;} /*nav part*/
#icons-mobile{display:flex;}
#hamburger {
width: 35px;
height: 5px;
background-color:white;
margin: 6px 0;
margin-left:50%; }
#icons-mobile{margin-left:10%;}
.navbar {display:none;}
#navigation-2{display:none;}

.main-text-tea-club { /*tea club part*/

   
    width:100%;
    margin-top: 5%;
    margin-left:15%;

}






.main-text-tea-club-2
{

text-align: center;
margin:-20px;
width:20%;




}


.header-find-your {

width:100%;
height:20%;
text-align:left;}

#Find-Your {

font-family: 'Source Sans 3', sans-serif;
font-size:35px;
color:white;
margin-left: 15%;}

.text-join-our-club {
width:85%;

margin-left:12%;
margin-top:-5%;}

#Join-our-club{

font-family: 'Abel', sans-serif;
font-size:19px;
color:white;}


.button-read-more {

    font-family: 'Source Sans 3', sans-serif;
    font-size:20px;
    color:white;
    border: 5px solid #4CAF50;
    border-radius: 12px;
    padding:5px 5px 5px 5px;
    width:120px;
    height:35px;
    margin-left:20%;
    margin-top:10%;}


}






/*3a/6a tea sets*/
       .main-cntr-tea-set {
       height:700px;
        width:100%;
        background-image: url(Images/Home/tea-sets.png);
        background-size: cover;
        background-repeat: none;
      
    }

 


    .cntr-for-header-button-picture {

        display:flex;
        margin-left:300px;
        width:850px;
        text-align:center;
        justify-content:center;
        margin-top:5%;
        background-color:rgba(222, 184, 135, 0.603);
        border-radius: 12px 12px 12px 12px ;
    }

 


    .button-read-more-2 {

        font-family: 'Source Sans 3', sans-serif;
        font-size:20px;
        color:white;
        border: 5px solid #4CAF50;
        border-radius: 12px;
        padding:5px 5px 5px 5px;
        width:120px;
        height:35px;
        margin-left:40%;
        margin-top:0px;
    }

/*3b/6b responsive tea sets*/

@media all and (max-width:500px){

    .main-cntr-tea-set {
        height:800px;
        width:100%;
        background-image: url(Images/Home/tea-sets-mobile.png);
        background-size: 1500px 700px;
        background-repeat: none;}

        .cntr-for-header-button-picture {

            display:block;
            margin-left:1%;
            width:400px;
            text-align:center;
            justify-content:center;
            margin-top:1%;
        }

        
}






/*4a/6a most popular*/

.cntr-for-star-and-reviews {

    display:flex;
    align-content: center;
    text-align: center;
    
    width:200px;
}


#reviews {

font-size: 15px;
color:#d2cfcf;
font-family: 'Abel', sans-serif;
align-content: center;
text-align: center;


}

#name-of-product{

width:200px;
text-align: center;
font-size:14px;
margin-top:-10px;
font-family: 'Source Sans 3', sans-serif;



}

#price{
   
    width:200px;
    text-align: center;
    font-size:20px;
    margin-top:-10px;
    font-family: 'Source Sans 3', sans-serif;

    }

    #icons-stars {

        margin-top:12px;
    }



.most-popular-flex-box {

    display:flex;
    margin-left:17%;
 
   
}

.grid2 {
    padding:50px;
}






.add-to-bag {

    font-family: 'Source Sans 3', sans-serif;
    font-size:20px;
    color:white;
    background-color: seagreen;
    border-radius: 12px;
    padding:5px 5px 5px 5px;
    width:95%;
    height:35px;
    text-align:center;
    margin-top:-10px;
}


#most-popular-text{
    font-family: 'Source Sans 3', sans-serif;
    text-transform: uppercase;
    color:#d2cfcf;
    text-align:center;

}

.cntr-for-most-popular-text{
    display:none;
}

   /*3/5 most popular*/

   .main-cntr-for-most-popular{

    background-color: seashell;
}

.most-popular {

background-color: white;
color:black
height:700px;
width:100%;
background-image: url(Images/Home/tea-sets.png);
background-size: cover;
background-repeat: none;


}




/*4b/6b most popular responsive*/

@media all and (max-width:500px){
#most-popular-text2{

    font-family: 'Source Sans 3', sans-serif;
    text-transform: uppercase;
    color:#d2cfcf;
    text-align:left;
    margin-left:10%;
    
}

    .cntr-for-most-popular-text{
        display:block;
    }

    .most-popular-flex-box {

        display:block;
        margin-left:5%;
        margin-top:-10%;

    }    


.cntr-for-most-popular-text{
    background-color: tomato;
    margin-left:-50%;}



    #most-popular-text{
    font-family: 'Source Sans 3', sans-serif;
    text-transform: uppercase;
    color:#d2cfcf;
    text-align:center;


    

    
.add-to-bag {

    font-family: 'Source Sans 3', sans-serif;
    font-size:20px;
    color:white;
    background-color: seagreen;
    border-radius: 12px;
    padding:5px 5px 5px 5px;
    width:120px;
    height:35px;
    text-align:center;
    margin-top:-10px;
    margin-left:5%;
}

        


    

/*5a/6a article*/

.main-cntr-article{

   
    height:2000px;
     width:100%;
     background-image: url(Images/Home/Guests.jpg);
     background-size: cover;
     background-repeat: none;
   
 }


 

#impress-your-guests{

font-family: 'Source Sans 3', sans-serif;
font-size:50px;
color:white;
margin-top:-1%;

}


.article-button{


    font-family: 'Source Sans 3', sans-serif;
    font-size:15px;
    color:white;
    background-color:#003200;
    border-radius: 40px;
    padding: 1px;
    width:80px;
    height:20px;
    text-align: center; 
}


.main-cntr-article-button-header-read-more-button {

    height:200px;
    width:700px;
    margin-left:35%;
    background-color: slateblue;
    position:absolute;
    margin-top:200px;


}

.article-read-more-button{

font-family: 'Source Sans 3', sans-serif;
font-size:20px;
color:white;
border: 5px solid white;
border-radius: 12px;
padding:5px 5px 5px 5px;
width:120px;
height:35px;
margin-left:40%;
margin-top:20%;
text-align:center;


}




  
    




/* 5/5 footer*/

.main-cntr-footer {

    background-color: #003200;
}

#footer-details {

    font-family: 'Abel', sans-serif;
    color:white;
    font-size:14px;

}

.footer-cntr-for-all-details{
display:flex;
margin-left:20%;

}

.single-footer-box-with-details {
    padding:25px;
width:15%;

}


